<!-- Features Wrapper -->
<div id="features-wrapper">

  <!-- Features -->
    <section id="features" class="container">

          <!-- Feature -->
            <section>
              <a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="images/pic01c.jpg" alt="" /><!-- <img src="http://placekitten.com/g/368/247" alt="" /> --></a>
              <header>
                <h2><strong>Welcome</strong> to my silly little site.</h2>
              </header>
              <p>Welcome to my silly little site, it’s a mess and I have a lot of interests. 
                I’m currently pursuing a gender-neutral honorific as a graduate student in 
                Dr. Gretchen Daily’s Lab, housed in Stanford’s Biology Department, which 
                lies on the unceded lands of the Muwekma Ohlone, who continually fight for 
                their right to be recognized federally and preserve as much of their language 
                and culture as possible. If you have the means to do so, please donate to their 
                gofundme to help with their educational programs, especially those that work, live, 
                or benefit from these lands.</p>
              <p>Right now I’d consider myself an urban ecologist, seeing as I study mostly urban 
                systems including urban wildlife communities, restorative community greenspaces, 
                and harmful legacies of historical and contemporary urban policies.</p>

              <p>I’ve always enjoyed incorporating art into science so you’ll see some comics, 
                doodles, and other visualizations of sorts sprinkled throughout my work. 
                Sometimes I do science-science, like working with large datasets and 
                struggling to navigate through poison oak and blackberry thorns in the field. 
                I love to code and create interactive maps, tinkering around the intersection 
                of traditional and digital art has been exciting. I also am not very good at 
                coming up with my own questions but I am good at squandering resources– which is 
                why I tend to focus on local community and justice-based research (CBR). [Resources] 
                if you want to learn more about this framework. The world sucks and so do people in 
                power including scientists from elite institutions, so I try to do less of that and 
                provide myself as a tool for folks on the ground who already have been doing the work 
                and hold local knowledge.</p> 
            </section>

      </div>
      <ul class="actions">
        <li><a href="strongly-typed.html" class="button button-icon icon icon-file">Tell Me More</a></li>
      </ul>
    </section>

</div>